.button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease-in-out;

    font-size: 14px;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background-color: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    background-color: var(--gray);
}

.arrow {
    display: inline-block;

    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
}

.primary svg {
    fill: var(--white);
}