:root {
  --black: #3B434E;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #5026f8;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
  --background-color: #F5F6F8;
  --gray-light: #EBEBEB;
  --gray: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--black);
  background-color: var(--background-color);
  
  font-family: var(--font-family);
}