.movie {
    display: grid;
    grid-template-columns: max-content 1fr;
    max-width: 900px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.rating {
    margin-bottom: 30px;
}

.overview {
    font-size: 16px;
    line-height: 1.5;
}

.link {
    margin-top: auto;
    margin-left: auto;
    justify-self: end;
    width: max-content;
    border-radius: 5px;
    padding: 15px 20px;

    text-decoration: none;
    color: var(--white);
    display: block;
    background-color: var(--primary);
    transition: background-color 0.3s ease-in-out;
}

.link:hover {
    background-color: var(--primary-hover);
}