.menu {
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.menu::before {
    content: "";
    height: 97%;
    position: absolute;
    left: -5px;
    background-color: var(--gray-light);
    width: 1px;
    top: 1.5%;
}

.menu__item {
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--sidebar-color);
    transition: background-color 0.2s;
    margin-left: 5px;
}

.menu__item:hover {
    background-color: var(--sidebar-color-hover);
    cursor: pointer;
}

.menu__link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--white);
    position: absolute;
    bottom: -5px;
    scale: 0;
    transition: scale 0.3s;
}

.menu__link_active::after {
    display: block;
    scale: 1;
}