.wrapper {
    display: grid;
    grid-template-columns: auto 300px minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        ". header header ."
        ". sidebar main ."
        "footer footer footer footer";
    min-height: 100vh;
    column-gap: 20px;
}

.header {
    grid-area: header;
    display: none;
}

.sidebar {
    margin-left: 10px;
    grid-area: sidebar;
    height: fit-content;
    background-color: var(--sidebar-color);
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
}

.main {
    grid-area: main;
    margin-top: 30px;
    padding: 10px 10px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--white);
    padding: 25px;
    grid-area: footer;
}

@media (max-width: 765px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .sidebar {
        display: none;
    }

    .header {
        display: block;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}